<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Access Shared Notification</title>
</head>

<body>
  <p>Hello,</p>
  <p>You have been granted access to {{COMPANY}}. To access your new account, please click on the following link:</p>
  <p><a
      href="{{FRONT_END_HOST_URL}}/token-login?access={{TOKEN}}">{{FRONT_END_HOST_URL}}/token-login?access={{TOKEN}}</a>
  </p>
  <p>Thank you,<br>{{COMPANY}}</p>
</body>

</html>
