<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Recovery</title>
</head>

<body>
  <p>Hello,</p>
  <p>You recently requested to recover your account on <a href="{{FRONT_END_HOST_URL}}">{{FRONT_END_HOST_URL}}</a>.</p>
  <p>To proceed with the account recovery process, please click on the following link or copy it into your browser's
    address bar:</p>
  <p><a href="{{FRONT_END_HOST_URL}}/account/recover/reset?token={{RECOVERY_TOKEN}}">Recover Account</a>
  </p>
  <p>Please note that the recovery token will expire in ten minutes. If the token expires, you can request a new one.
  </p>
  <p>If you did not request this, please ignore this email. Your account is secure.</p>
  <p>Thank you,<br>{{COMPANY}}</p>
</body>

</html>
